<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="images/images/logo-icon.png" />
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/landing-page.css">
    <title>Happy</title>
  </head>
  <body>
    <div id="page">
      <div id="container">
            <header>
              <img class="animate-up" id="logo" src="images/images/logo.svg" alt="Icone da Happy" />
        
              <div class="location animate-up">
        
                <strong>Salvador</strong>
                <p>Bahia</p>
        
              </div>
            </header>
            <main>
                <h1 class="animate-up">leve felicidade pelo mundo</h1>
                <section class="visit">
                    <p class="animate-up">visite orfanatos e mude o dia de varias crianças</p>
                    <a href="/orphanages" title="visite orfanatos">
                        <img class="animate-up" src="images/images/arrow.svg" alt="ir para o mapa">
                    </a>
                </section>
            </main>
      </div>
  </div>
  </body>
  
</html>
